<!DOCTYPE html>
<html>
<head>
  <title>StrongPath</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navbar navbar-default">
  <div class="container" style="background-color: #e7e7e7;">
    <div class="navbar-header">

      <ul class="nav navbar-nav" style="margin-left: 63px;">
        <li> <a href="http://agile-headland-8671.herokuapp.com/">Strong Path</a> </li>
        <li class="active"><a href="http://agile-headland-8671.herokuapp.com/">Home</a></li>
        <li><a href="/welcome/about">About</a></li>
        <li><a href="/welcome/contact">Contact</a></li>
        <li style="margin-left: 622px;">
          <% if current_user %>
              Signed in as <strong><%= current_user.name %></strong>!
              <%= link_to "Sign out", signout_path, id: "sign_out" %>
          <% else %>
              <%= link_to "Sign in with Facebook", "/auth/facebook/setup", id: "sign_in" %>
          <% end %>
        </li>
      </ul>
    </div>
    <!--/.nav-collapse -->
  </div>
</div>
<%= yield %>

</body>
</html>
